.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  color: #727272;
}

body{
    margin: 0;
    padding: 0;
}


.display-flex{
   display: flex;
 
}
header{
     background-color:rgb(255, 144, 14,0.1);
     max-width: 100%;
     padding: 3rem 8.5rem;
}
header nav h3{
    font-weight: 700;
    font-size: 2rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
   
     
}
.list{
    gap: 30px;
    
}
header nav ul li a{
    color:#424242;
    text-decoration: none;
}
header nav ul li{
    list-style: none;
}

.navbar,.banner{
    width: 100%;
    margin: 0 auto;

}
.banner-info{
   text-align: center;
}


.banner-img{ 
    width: 100%;
}
.banner-info h3{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    
}

button{
    padding: 1rem 1rem;
    background-color:#FF900E;
    border-radius: 8px;
    border-style: none;
    margin: 3rem 0;
    color: #FFFFFF;
    font-size:1rem;
}
.banner p{
    color: #727272;
}

@media screen and (max-width:576px){
.navbar,.list{
      flex-direction: column;
    }
   
    .list{
     gap: 20px;
     margin-top: 20px;
     margin-bottom: -20px;
}
 }



