.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  color: #727272;
}

*{
    margin: 0;
    padding: 0;
}


.display-flex{
   display: flex;
 
}
header{
     background-color:rgb(255, 144, 14,0.1);
     width: 100%;
}
header nav h3{
    font-weight: 700;
    font-size: 2rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
   
     
}
.unoder-list{
    gap: 30px;
}
header nav ul li a{
    color:#424242 ;
    text-decoration: none;
}
header nav ul li{
    list-style: none;
}

.container div{
    align-items: center;
    justify-content: center;
 
}

.navbar, .banner{
    max-width:1920px;
    width: 100%
    margin:0 auto;
    padding:64px 96px;
}
.baneer-info{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

}

.banner-img{
    max-width:1050px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.baneer-info h3{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    
}

button{
    padding: 1rem 1rem;
    background-color:#FF900E;
    border-radius: 8px;
    border-style: none;
    margin: 3rem 0;
    color: #FFFFFF;
    font-size:1rem;
}
.banner p{
    color: #727272;
}

@media screen and (max-width:576px){
.navbar,.unoder-list{
      flex-direction: column;
    }
    }
    .unoder-list{
     gap: 20px;
     margin-top: 20px;
}




